<div class = "banner" style="background-image: url('<%= image_path("banner3.webp") %>')" >
  <h1><%=@bunch.name%></h1>
  <h1>Design your own bouquet</h1>
  <h1>Your Flower's</h1>
  <%= simple_form_for [@bunch] do |f| %>
    <% Flower.all.each do |flower| %>
      <% bookmark = @bunch.bookmarks.find_by(flower_id: flower.id) %>
      <%= f.simple_fields_for :bookmarks, bookmark || @bunch.bookmarks.build(flower: flower) do |bf| %>
        <%= bf.association :flower, label_method: :custom_label, input_html: { id: "bookmark_flower_id_#{flower.id}" } %>
        <%= bf.input :quantity, input_html: { id: "bookmark_quantity_#{flower.id}", value: bf.object.quantity || 0 } %>
      <% end %>
    <% end %>
    <%= f.submit %>
  <% end %>
  <div>
